*{
    padding: 0;
    margin: 0;
}
html, body{
    height: 5000px;
    font-size: 12px;
    font-family: 'Microsoft Yahei';
    background:#f6f6f6;;
}
a, a:hover, a:visited{
    text-decoration: none;
    color: #000;
}
ol, ul, li{
    list-style-type: none;
}
.icons{
    font-family: 'iconfont';
}